home-assistant:
  image:
    tag: 2026.3.0

  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 100Gi

  ingress:
    enabled: true
    hosts:
      - host: ha.k8s.firekatt.ca
        paths:
          - path: /
            pathType: Prefix

  hostNetwork: true

  configuration:
    # Enable or disable the configuration setup for Home Assistant
    enabled: true
    # Force init will merge the current configuration file with the default configuration on every start
    # This is useful when you want to ensure that the configuration file is always up to date
    forceInit: true
    # List of trusted proxies in the format of CIDR notation in a case of using a reverse proxy
    # Here is the list of the most common private IP ranges, use your list of possible trusted proxies, usually, it's the IP of the reverse proxy
    trusted_proxies:
      - 127.0.0.1     # Localhost
      - 10.0.1.0/24   # Server Network
      - 10.244.0.0/16 # Kubernetes Network
    # Editing templateConfig allows you to customize the configuration.yaml file
    # You can use Go template functions to customize the configuration
    templateConfig: |-
      # Loads default set of integrations. Do not remove.
      default_config:

      {{- if .Values.ingress.enabled }}
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          {{- range .Values.configuration.trusted_proxies }}
          - {{ . }}
          {{- end }}
      {{- end}}
      # Load frontend themes from the themes folder
      frontend:
        themes: !include_dir_merge_named themes

      automation: !include automations.yaml
      script: !include scripts.yaml
      scene: !include scenes.yaml

  addons:
    codeserver:
      enabled: true
      ingress:
        enabled: true
        hosts:
          - host: hacode.k8s.firekatt.ca
            paths:
              - path: /
                pathType: Prefix
